<% if (success) { %>
	<p><div><%= success %></div></p>
<% }else if (error) { %>
	<p><div><%= error %></div></p>
<% } %>

<% if (user != null) {%>
	<div>username:<%= user.name %></div>
	<div>id:<%= user._id %></div>
	<a href="/logout">logout</a>
<% } %>