<!DOCTYPE html>
<html>
	<head>
		<%- include('content/meta',{title:title}) %>
		<link rel="stylesheet" type="text/css" href="/css/post.css"/>
		<script src="/javascripts/lib/marked.js" type="text/javascript" charset="utf-8"></script>
		<script src="/javascripts/src/post.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<form class="form" method="post" action = "/post">
			<label for="title">标题：</label>
			<input v-model="title" class="form-control" type="text" name="title" id="title"/>
			<label for="content">正文：</label> 
			<br />
			<textarea v-model="content" @change="emitTest" debounce="300" class="form-control" name="content" id="content" rows="10" cols="40"></textarea>
			<div class="markdown" v-on:test="callback" v-html="content | marked"></div>
			<input v-on:click.prevent="submit" class="btn btn-primary" type="submit" value="发表" />
		</form>
		<%- include content/flash %>
	</body>

</html>