<!DOCTYPE html>
<html>
	<head>
		<%- include('content/meta',{title:title}) %>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
	</head>
	<body>
		<form class="form" action="/reg" method="post">
			<label for="username">username</label>
			<input class="form-control" type="text" name="username" id="username" value="" />
			<label for="password">password</label>
			<input class="form-control" type="password" name="password" id="password" value="" />
			<label for="password">password-repeat</label>
			<input class="form-control" type="password" name="password-repeat" id="password-repeat" value="" />
			<input class="btn btn-primary" type="submit" value="submit"/>
		</form>
	</body>
</html>
